.counter-container {
  display: flex;
  margin: 20px;
  align-items: center;
  flex-direction: column;
}
.counter-container div {
  margin: 10px;
}
.button-container button {
  margin: 10px;
}

.counter-container h2 {
  color: black;
  font-size: 24px;
  margin: 10px 0;
}
